*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html{
    background-color: rgb(128, 149, 163);
    margin: auto;
}

h1{
    margin:1rem;
    text-align: center;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.hist{
    border: 2px solid rgb(83, 83, 83);
    border-radius: 1%;
    width:100%;
    max-width: 900px;
    height: 300px;
    background-color: rgb(224, 224, 224);
}

.barras{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.barras > div{
    border: 1px solid;
    border-radius: 1%;
    margin: 4px;
    width: 10%;
    height: 0px;
    background-color: rgb(128, 149, 163);
}

.marca{
    display:flex;
    flex-direction: column;
    /*align-items: flex-start;*/
}

.rotulo{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size:small;
    text-align: center;
    max-width: 900px;    
}

.rotulo > div{
    background-color: rgb(224, 224, 224);
    border: 1px solid;
    margin: 15px;    
}

a{
    color: rgb(0,0,0);
    font-size: normal;
    font-weight: bold;
}

a:hover{
    font-size: large;
    font-weight: bolder;
}